
<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto blogs__linkBox">
    <a href="/blogs" class="btn btn-outline-dark">一覧</a>
    <a href="/blogs" class="btn btn-outline-dark">編集</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4><%= @blog.title %></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(@blog.content) %></p>
    <p class="text-right font-weight-bold mr-10"><%= @blog.content %></p>
  </div>
</div>