<div class="home-content wrapper">
  <h2 class="page-title">Every day I am</h2>
  <h2 class="page-title">getting better</h2>
  <h2 class="page-title">and</h2>
  <h2 class="page-title">better in every way</h2>
  <p>アクティブ要素を取り込み学びを深めるアプリです</p>
  <p>読むだけ？見ただけ？記憶に残りますか？</p>
  <p>そんな問題は、このアプリが解決してくれます。</p>
  <p>興味を持って、自分の手を使って、脳を使って能動的に学ぶことで、記憶に定着すると言われています</p>
  <p>暗記帳を使って、英単語を学んだことがあるかと思います。</p>
  <p>暗記帳学習の一番効率的なタイミングはいつでしょうか？</p>
  <p>それは、暗記帳を作る時です。</p>
  <p>作ったものは、自分の辞書になり、検索でき、想起学習にもなります。</p>
</div><!-- /.home-content -->