.blogs__table {
  tr:hover {
    cursor: pointer;
  }
}

.blogs__linkBox {
  a {
    margin: 0 8px;
  }
}

img {
  max-width: 100%;
}

#blogs-index {
  .content-wrapper {
    display: flex;
    justify-content: space-between;

    .content-block {
      border: 5px solid #333;
      width: 60%;
      margin: 30px auto;
      padding: 25px;
      border-radius: 14px;

      .content{
        margin: 30px auto;
        border: 5px solid #333;
        padding: 25px;
        border-radius: 14px;
        .user-about{
          display: flex;
          margin-bottom: 15PX;

          .user-image{
            width: 10%;
            margin-right: 10PX;
          }
          .user-name{
            width: 100%;
            margin-bottom: 10pX;
            font-weight: bold;
          }
          .user-email{
            width: 40%;
          }
        }
        .blog-title{
        }
        .blog-content{
        }
      }
    }

    .side-bar {
      border: 5px solid #333;
      width: 30%;
      margin: 30px auto;
      padding: 25px;
      border-radius: 14px;

      .box {
        background-color: #333;
        width: 100px;
        height: 100px;
        margin: 10px auto;
      }
    }
  }
}

#blogs-new{
  form{
    input{
      width: 100%;
    }
    textarea{
      width: 100%;
    }
    .submit-block{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px 0;
      .button {
        display       : inline-block;
        border-radius : 5%;          /* 角丸       */
        font-size     : 14pt;        /* 文字サイズ */
        text-align    : center;      /* 文字位置   */
        cursor        : pointer;     /* カーソル   */
        padding       : 12px 12px;   /* 余白       */
        background    : #333;     /* 背景色     */
        color         : #ffffff;     /* 文字色     */
        line-height   : 1em;         /* 1行の高さ  */
        transition    : .3s;         /* なめらか変化 */
        box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
        border        : 2px solid #333;    /* 枠の指定 */
      }
      .button:hover {
        box-shadow    : none;        /* カーソル時の影消去 */
        color         : #333;     /* 背景色     */
        background    : #ffffff;     /* 文字色     */
      }
    }
  }
}
.like{
  display: flex;
}

#blogs-show {
  #comments_area {
    .card-body {margin-bottom: 10px;
      border: 5px solid #333;
      .comment-avatar {
        width: 20%;
        .user-image {
          width: 80%;
          margin-right: 10PX;
        }
      }
    }
  }
}